<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://img.icons8.com/?size=100&id=DbCaxfUGmPbT&format=png&color=000000"
    />
    <title>EatSmart</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      {% block style%} {% endblock %}
    </style>
  </head>
  <body>
    {% block body%} {% block script%} {% endblock %} {% endblock %}
  </body>
</html>
